<form [formGroup]="useForm">
  <div class="row">
    <div class="col-md-6">
      <div class="mb-3" style="display: flex; justify-content: space-around">
        <div>
          <label for="labelField" class="form-label">Label</label>
          <input
            (change)="refInput($event)"
            formControlName="libelle"
            type="text"
            class="form-control"
            id="labelField"
          />
          <small
            *ngIf="
              useForm.controls['libelle'].invalid &&
              (useForm.controls['libelle'].touched ||
                useForm.controls['libelle'].dirty)
            "
            class="text-danger"
          >
            Le libelle est invalide
          </small>
        </div>
        <div class="mb-3" style="width: 50%">
          <label for="categorySelect" class="form-label">Category</label>
          <select
            (change)="refInput($event)"
            class="form-select"
            id="categorySelect"
            formControlName="categorie_id"
          >
            <option [value]="item?.id" *ngFor="let item of allData.categories">
              {{ item?.libelle }}
            </option>
          </select>
        </div>
      </div>

      <div class="mb-3" style="display: flex; justify-content: space-around">
        <div>
          <input
            (change)="promoCheck($event)"
            type="checkbox"
            class="form-check-input"
            id="promoCheckbox"
            formControlName="promoCheck"
          />
          <label class="form-check-label" for="promoCheckbox">Promo</label>
        </div>
        <div [hidden]="promo">
          <label for="">Valeur</label>
          <input
            formControlName="promotion"
            type="number"
            class="form-control"
            id="promoValue"
            placeholder="Promo Value"
          />
          <small
            *ngIf="
              useForm.controls['promotion'].invalid &&
              (useForm.controls['promotion'].touched ||
                useForm.controls['promotion'].dirty)
            "
            class="text-danger"
          >
            La valeur de la promotion est invalide
          </small>
        </div>
      </div>
      <div class="mb-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Label</th>
              <th scope="col">QTE</th>
              <th
                scope="col"
                (click)="duplicateInputField()"
                style="cursor: pointer"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="currentColor"
                  class="bi bi-patch-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
                  />
                </svg>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="article">
            <tr *ngFor="let control of confections.controls;index as pos" [formGroupName]="pos">
              <td>
                <label for="">Confection</label>
                <input
                  (input)="searchConfection($event,pos)"
                 formControlName="libelle"
                  type="text"
                  class="form-control"
                  id="itemField"
                  placeholder="Item"
                />
                <input type="hidden" formControlName="article_id">
                <small
                  *ngIf="
                    confections.controls[pos].invalid &&
                    (confections.controls[pos].touched ||
                      confections.controls[pos].dirty)"
                  class="text-danger"
                >
                  Le libelle est invalide
                </small>
              </td>
              <td>
                <label for="">Quantite</label>
                <input
                  (change)="quantityCheck()"
                  formControlName="quantite"
                  type="number"
                  class="form-control"
                  id="qteField"
                  placeholder="QTE"
                />
                <small
                  *ngIf="
                    confections.controls[pos].invalid &&
                    (confections.controls[pos].touched ||
                      confections.controls[pos].dirty)"
                  class="text-danger"
                >
                  La quantite doit etre un entier positif
                </small>
              </td>
            </tr>
            <div>
              <ul *ngFor="let item of searchResult" class="bg-primary">
                <li [value]="item.id" (click)="selectConfection($event)">{{item?.libelle}}</li>
              </ul>
            </div>
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>
      <div class="mb-3" style="display: flex; justify-content: space-around">
        <div>
          <label for="">Cout de fabrication</label>
          <input
            readonly
            formControlName="cout_fabrication"
            type="number"
            class="form-control"
            id="costField"
            placeholder="Cost of Fabrication"
          />
          <small
            *ngIf="
              useForm.controls['cout_fabrication'].invalid &&
              (useForm.controls['cout_fabrication'].touched ||
                useForm.controls['cout_fabrication'].dirty)
            "
            class="text-danger"
          >
            Le cout de fabrication est invalide
          </small>
        </div>
        <div>
          <label for="">marge</label>
          <input
          (change)="marginCheck()"
            formControlName="marge"
            type="number"
            class="form-control"
            id="marginField"
            placeholder="Margin"
          />
          <small
            *ngIf="
              useForm.controls['marge'].invalid &&
              (useForm.controls['marge'].touched ||
                useForm.controls['marge'].dirty)
            "
            class="text-danger"
          >
            La marge est invalide
          </small>
        </div>
      </div>
      <div class="mb-3">
        <label for="">Prix de vente</label>
        <input
          readonly
          formControlName="prix_de_vente"
          type="number"
          class="form-control"
          id="priceField"
          placeholder="Price of Sale"
        />
        <small
          *ngIf="
            useForm.controls['prix_de_vente'].invalid &&
            (useForm.controls['prix_de_vente'].touched ||
              useForm.controls['prix_de_vente'].dirty)
          "
          class="text-danger"
        >
          Le prix de vente est invalide
        </small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <div class="col-md-6">
          <div
            class="mb-3"
            style="
              display: flex;
              justify-content: center;
              transform: translateX(50%);
            "
          >
            <label for="photo" class="form-label"></label>
            <input
              (change)="imageService.onImageSelected($event)"
              type="file"
              class="form-control visually-hidden"
              id="photo"
              name="photo"
            />
            <label for="photo" class="file-input-label">
              <div
                id="imagePreview"
                class="border p-2"
                style="width: 100%; height: 200px; cursor: pointer"
              >
                <img
                  *ngIf="imageService.thumbnail"
                  [src]="updateData.image ?? imageService.thumbnail"
                  alt="Aperçu de l'image"
                  style="max-width: 100%; max-height: 100%"
                />
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <input
          readonly
          formControlName="ref"
          type="text"
          class="form-control"
          id="referenceField"
          placeholder="Reference"
        />
      </div>
      <div class="mb-3" style="display: flex; justify-content: center">
        <button
          [disabled]="false"
          class="btn btn-primary"
          style="padding: 10px 80px"
          (click)="addArticleVente()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
